:root {



	/*Font*/

	font-family: system-ui ;
	--big-font:130%;
	--regular-font : 100%;
	--extra-small-font:80%;
	


	/*Universal Theme*/
  --primary:oklch(0.65 0.142 268.67);
  --primery-transparent: oklch(0.65 0.142 268.67 / 0.85)  ;
  --secondary :oklch(0.62 0.152 273.00);
	--btn-main-color:linear-gradient(var(--primary), var(--secondary));
	--btn-active-color: linear-gradient(var(--secondary), var(--primary));
	--card-bg-color:linear-gradient(290deg, oklch(0.58742 0.17443 277.74) 0%, oklch(0.61088 0.16236 274.98) 65%, oklch(0.69733 0.125 261.28) 100%);
	--drop-shadow:0 0 5px oklch(0.65554 0.14152 268.67 / 0.7);
	--color:okhcl(0.65 0.14 268);

	

	/*Dark Theme*/

	--bg-canv: linear-gradient(135deg, oklch(0.40 0 0) 0%, oklch(0.35 0 0) 14%, oklch(0.22 0 0) 100%);
	--select-color:oklch(0.15 0 0);
	--accent-color: oklch(0.99 0.005 197.00);
	--focus-color : oklch(1 0 0 / 0.5);
	--focus-color-gradient : linear-gradient(oklch(1 0 0 / 0.4),oklch(1 0 0 / 0.3));
	--main-border : oklch(0.35 0 0);
	--glass-background: oklch(0.1 0 0 / 0.4);
	--slider-thumb-color : linear-gradient(oklch(0.22 0 0),oklch(0.34 0 0));
	--inout-bg:oklch(0.1 0 0 / 0.5);
	--input-bg-focus:linear-gradient(oklch(0.22 0 0 / 0.9),oklch(0.22 0 0 / 0.8));
	--toggle-bg: oklch(0.22 0 0 );
	--toggle-bg-darker:oklch(0.1 0 0 / 0.5) ;
	--indent-bg: linear-gradient(oklch(0 0 0 / 0.8),oklch(0.19125 0 0 / 0.8));
	--tab-bg:linear-gradient(290deg, oklch(0.085 0 0 / 0.5) 0%, oklch(0.085 0 0 / 0.4) 65%, oklch(0.085 0 0 / 0.35) 100%);
	--light-reflection: oklch(0.85 0.035 273/ 0.6);
	--glow:oklch(0.65 0.142 268.67);
	
	/*Sizing*/

	--unit:min(1ch , 0.75cap);

	--portion:6ch;
	--small-clickable:3.5ch;
	--default-padding : 0.7ch 1.5ch;
	--slider-width: 97.5% ;

	--radiu-a : 0.7ch;
	--radiu-b : 2.1ch;
	--radus-c : 2.5ch;

	--z-layed-top: 4;
	--z-layer-higher :3;
	--z-layer-middle :2;
}




:root:has(#theme-toggle:checked) {

	--bg-canv: linear-gradient(135deg, oklch(0.90 0 0) 0%, oklch(0.83 0 0) 14%, oklch(0.80 0 0) 100%);
  --tertiary-color: linear-gradient(oklch(0.90 0 0 / 0.8),oklch(1 0 0 / 0.8));
  --select-color:oklch(0.96 0 0);
  --accent-color: oklch(0 0 0);
  --focus-color : oklch(0 0 0 / 0.5);
  --focus-color-gradient : linear-gradient(oklch(0 0 0 / 0.4),oklch(0 0 0 / 0.3));
  --main-border : oklch(0.82 0 0);
  --glass-background: oklch(0.98 0 0 / 0.4);
  --slider-thumb-color : linear-gradient(oklch(0.85 0 0),oklch(0.90 0 0));
  --inout-bg:oklch(0.98 0 0 / 0.5);
	--input-bg-focus:linear-gradient(oklch(0.89 0 0 / 0.8),oklch(0.89 0.0268 106.93 / 0.9));
	--toggle-bg: oklch(0.95 0 0 );
	--toggle-bg-darker:oklch(0.85 0 0 ) ;
	--indent-bg: linear-gradient(oklch(0.90 0 0 / 0.8),oklch(1 0 0 / 0.8));
	--tab-bg:linear-gradient(290deg, oklch(1 0 0 / 0.35) 0%, oklch(1 0 0 / 0.4) 65%, oklch(1 0 0 / 0.5) 100%);
	--light-reflection: oklch(1 0 0/ 1);
	--glow:oklch(0.79 0.10 268.67);
}

.glass{
  -webkit-backdrop-filter: blur(20px);	 
  backdrop-filter: blur(20px);
	}

.dark{
	background-color: var(--glass-background);
	}


.small-shadow{
	box-shadow: 4px 6px 20px 2px oklch(0 0 0 / 0.2);
}


.dent-shadow {
	box-shadow: inset 0px 2px 5px oklch(0 0 0 / 0.2) , 
	           			  0px 2px 2px oklch(1 0 0 / 0.1) , 
	           			  0px 0px 1px 0.5px oklch(1 0 0 / 0.1) ;

}

.reflection{
	border: 0.2px solid oklch(0.84 0.078 273/ 0.6);
  box-shadow: inset 0.6px 0.6px 0px 0px oklch(0.84 0.078 273/ 0.6), 
  						      1px   2px   2px 0px oklch(0 0 0 / 0.1) ;

}

.drop-shadow{
	filter: drop-shadow( var(--drop-shadow));
}

.relative{
	position: relative;
}



 /*Theme Switch*/

.theme-toggle {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  font-size:var(--regular-font);
  background-color: transparent;
  text-align: center;
  font-size: var(--regular-font);
  width: var(--portion);
  height: 2ch;
  line-height: 2ch;
  margin: 0px 0px 2px;
  transform: translateY(calc(var(--portion) * -1 ));
	opacity: 0;
  transition-duration: 0.2s;

}

.theme-toggle:before {
  content: '☀️'; 
}

:root:has(#theme-toggle:checked) .theme-toggle:before {
  content: '🌙'; 
}


.theme-toggle.rotate{
	transform: translateX(0px);
	opacity: 1;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}



/*Theme Switch*/


@layer layer-1 {

	* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

*, *:after, *:before {
	box-sizing: border-box;
}

.canv{

	min-height: max-content;
  min-height: 100vh;
  background-position: 0 0;
  border: 0.1px solid transparent ;
	background: var(--bg-canv);
	font-size: var(--regular-font);
	transition: color  0.2s ease-out ;
	}

html, body {

	color: var(--accent-color);
}




.page{
	display: grid;
	gap:2ch;
	grid-template-columns: repeat(auto-fit, clamp(200px, 350px, 100% ) )  ;
  justify-content: center; 	

	}



.card-1{
	height: auto;
	width : auto;
	border: 1px solid  var(--main-border);
	border-radius: var(--radiu-b);
	padding: 2ch;
	margin-bottom: var(--small-clickable);
	contain: paint; 	

}

.card-bg{

	height: 7.7125ch;
	width: calc( 100% + 4ch ) ;
	padding: 2ch;
	margin-bottom: var(--small-clickable);
	position: absolute;	
	margin: -2ch -2ch;
	background: var(--card-bg-color);

}




.title{
	font-weight: bold; 
	font-size: var(--big-font); 
	margin-bottom: 1ch;
	margin-top: 1ch;
	padding-left: 2ch;

}




.flex{

	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	gap: 1ch;

}

	.flex-nav{

	display: flex;
	position: relative;
	align-items: center;
	gap: 1ch;

}

.flex-nav:first-child {
	margin-right: auto;

}



.center {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

}



.tab {
	 display: flex;
	 flex-wrap: wrap;
	 position: relative;
	 justify-content: center;
	 align-items: center;

}


.tab-2 {
	 display: flex;
	 flex-wrap: wrap;
	 position: relative;
	 justify-content: center;
	 align-items: center;

}




.tab__radio{
	display: none;
}


.tab__contents{
	display: none;
	order: 1;
	width: 100%;



}

.tab__radio:checked+.tab__label{
	color: var(--accent-color);
}

.tab__radio:checked+.tab__label+.tab__contents{
	display: initial;
}

.text-box{
	font-size: var(--regular-font);
	margin-bottom: 2ch;
}

/*button */

button.main{
	background: var(--btn-main-color);
	font-size: var(--regular-font);
	padding:var(--default-padding);
  border-radius: var(--radiu-a);	
  border: 1px solid  transparent;
  color: var(--accent-color);
  margin-bottom: 1ch;

 	}

button.main:active {
  	background: var(--btn-active-color);
	}
/*
button.main:hover {
	border: 1px transparent;
	}*/


button.disabled {
  opacity: 0.6;
  cursor: not-allowed;

}

a {
  text-decoration: none; 
  color: var(--accent-color);

}

/*button group*/

.btn-group {

	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--portion);

}

/*.btn-group > * {

	border: none;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	border-radius: 0px;
}*/


.btn-group > :first-child {
	border-radius: 0px;
	border-top-left-radius: var(--radiu-a);
	border-bottom-left-radius: var(--radiu-a);
	border-left: 1px solid transparent ;
	border-right: 1px solid transparent ;

}

.btn-group > :last-child {
	border-radius: 0px;
	border-top-right-radius: var(--radiu-a);
	border-bottom-right-radius: var(--radiu-a);
	border-right: 1px solid transparent ;
	border-left: 1px solid transparent ;

}

/*button group*/

/*Toggle */

  .toggle-text {
  	position: relative;
    background: none ;
		font-size: var(--regular-font);
		padding: var(--default-padding);
  	border-radius: var(--radiu-a);	
  	border: 1px solid  var(--focus-color);
    user-select: none; 
    cursor: pointer;
    color: var(--focus-color);
    background-color: var(--toggle-bg);
    opacity: 1;
/*     box-shadow: inset 0.6px 0.6px 0px 0px oklch(0.8 0.07 260/ 0.6) ; */
    filter: drop-shadow(2px 2px 0px var(--toggle-bg-darker) );	

  }

  .toggle-text::before{
	  content: "";
		position: absolute;
		inset: 0;
		z-index: -1;		
  	background-color: var(--toggle-bg-darker);
  	scale: 0.65;
    border-radius: 3ch;
 		filter: blur(10px);
 		mix-blend-mode: soft-light;
  }




  .toggle-on {
  	position: relative;
  	border: 1px solid transparent;
    background-color: var(--primery-transparent);
    color: var(--accent-color);
		filter: drop-shadow(2px 2px 0px var(--toggle-bg-darker) );


  }

.toggle-on::before{
	  content: "";
		position: absolute;
		inset: 0;
		z-index: -1;		
		background-color: var(--glow);
  	scale: 0.70;
    border-radius: 3ch;
 		filter: blur(12px);

  }
/*Toggle */

/*Toggle Group*/
.tgl-group {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--portion);
}




.tgl-group > * {

	border: none;
	border-radius: 0px;

}


.tgl-group > :first-child {
	border-top-left-radius: var(--radiu-a);
	border-bottom-left-radius: var(--radiu-a);


}

.tgl-group > :last-child {
	border-top-right-radius: var(--radiu-a);
	border-bottom-right-radius: var(--radiu-a);

}

.tgl-group > *::after{
	border: none;
	content: "";
	position: absolute;
	border-top:0.2px solid var(--light-reflection);
	border-bottom:0.2px solid var(--light-reflection);
	box-shadow:  inset 0px 0.6px 0px 0px var(--light-reflection);
	border-radius: 0px;
	inset: 0;
	mix-blend-mode: soft-light;

}

.tgl-group > :first-child::after{
	content: "";
	position: absolute;
	border-top-left-radius: var(--radiu-a);
	border-bottom-left-radius: var(--radiu-a);
	border-left: 0.2px solid var(--light-reflection) ;
	box-shadow:   inset 0.6px 0.6px 0px 0px var(--light-reflection);

}

.tgl-group > :last-child::after{
	content: "";
	position: absolute;
	border-top-right-radius: var(--radiu-a);
	border-bottom-right-radius: var(--radiu-a);
	border-right: 0.2px solid var(--light-reflection) ;
	box-shadow:   inset 0px 0.6px 0px 0px var(--light-reflection) ;

}




/*Toggle Group*/

/*Range Slider*/

.slider {
  	-webkit-appearance: none;
  	appearance: none;
  	cursor: pointer;
  	height: 7px;
  	width: var(--slider-width);
  	border-radius: var(--radiu-a);
  	outline: none;
  	border: 1px solid var(--accent-color); ;
  	display: flex;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 1ch;

  	background-color: rgba(45, 45, 45,1);
  	background-image: linear-gradient( rgba(180, 185, 185,1),rgba(250, 255, 255,1));
  	background-clip: content-box;
  	background-size: 120% 1ch;
  	background-position: calc(600% - ( var(--position) * 5) );
		background-repeat: no-repeat;

	}

/*.slider:hover {
 	 opacity: 1;
	}*/

.slider::-webkit-slider-thumb {
 	-webkit-appearance: none;
 	appearance: none;
 	width: var(--small-clickable);
 	height: var(--small-clickable);
 	border-radius: 50%;
	background: var(--slider-thumb-color);
	border: 2px solid var(--accent-color); ;
	cursor: pointer;
	box-shadow: var(--small-shadow);

	}

.slider::-moz-range-thumb {
 	width: var(--small-clickable);
 	height: var(--small-clickable);
  border-radius: 50%;
 	background: var(--slider-thumb-color);
 	border: 2px solid var(--accent-color) ;
  cursor: pointer;
  box-shadow: var(--small-shadow);
 
	}



.flex-slider{

	display: flex;
	justify-content: space-between;
	height: 10px; 
	font-size: var(--extra-small-font);
	padding: 2px 0px;

}

.flex-slider > span {
   display: inline-block; 
   text-align: center;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   z-index: -1;
 
}
/*Range Slider*/

/*Nav Bar*/

.fixed-top {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: var(--portion); 
  z-index: var(--z-layed-top);
  font-size: var(--regular-font);
  padding: 1ch;

	}

	
	.drawer {
	 display: flex;
	 position: fixed; 
	 top: -100%; 
	 left: 0; 
	 width: 100%; 
	 height: 100%; 
	 padding: 10px;
	 box-sizing: border-box;
	 flex-direction: column;
	 transition: top 0.15s ease-out;  
   z-index: var(--z-layer-higher);

}



	.open {
  top:  var(--portion) ;
  transition-duration:0.2s;

}

	.toast {
	 display: flex;
	 position: fixed; 
	 border-radius: var(--radiu-b);
	 border: 1px solid  var(--main-border);
	 bottom: -100%;  
	 width: 250px; 
	 left: calc(50% - 125px ); 
	 align-items: center;
	 justify-content: center;
	 height: var(--portion); 
	 padding: 10px;
	 box-sizing: border-box;
	 transition: bottom 0.15s ease-out;  
   z-index: var(--z-layer-higher);

}



	.opentoast {
  bottom: var(--portion);

}

  .gg-check-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(0.7);
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px

}


.gg-check-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-color: currentColor;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)

}



/*Nav Bar*/

/*Menu button*/

  button.menu {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: var(--portion);
    height: var(--portion);
    display: flex;
		place-content: center;

  }

  .line {
    position: absolute;
    width: var(--small-clickable);
    height: 2px;

    background: var(--accent-color);
    transition: transform 0.3s ease;
    border-radius: 2ch;
  }
  .line1 {
    top: calc(50% - 5px); 


  }
  .line2 {
    top: calc(50% + 5px);
	}
  .line1.rotate {
    transform: rotate(-45deg) translate(0, 7.1px);

  }
  .line2.rotate {
    transform: rotate(45deg)translate(0, -7.1px);
  }

  .box-slim.rotate{
  	transform: translateX(calc((var(--portion) - var(--small-clickable)) / 4 ));
  	opacity: 1;
  	transition-delay: 0.2s;
  	transition-duration: 0.2s;

  }

/*Menu button*/

/*input*/

.input {
  background-color: transparent; 
  font-size: var(--regular-font);
  padding: var(--default-padding);
  width: 100%;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radiu-a);
  border-bottom: 1px solid var(--primary);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--accent-color);
  margin-bottom: 1ch;

}



.input:focus {
	border: 1px solid var(--primary);
	border-radius: var(--radiu-a);
	background-color:var(--select-color) ;
	outline: none;

}


.txt-area{
  background-color: transparent; 
  font-size: var(--regular-font);
  font-family: inherit;
  width: 100%;
  padding: var(--default-padding);
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radiu-a);
  resize: vertical;
  border-bottom: 1px solid var(--primary);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--accent-color);

}


.txt-area:focus {
	
	border: 1px solid var(--primary);
	border-radius: var(--radiu-a);
	outline: none;

}

/*input*/

/*Tab*/


 .tab__label {

	font-size: var(--big-font);
	display: grid;
	line-height: 2ch;
	height: 3ch;
	width: 10ch;	
 	cursor: pointer; 
 	z-index: 2;
 	text-align: center;
 	justify-self: center;
	align-items: center;
	transition: color 200ms ease-out;
	color: var(--focus-color);
	margin-bottom: 2ch;

}


 .tab__indicator {

 	 font-size: var(--big-font);
 	 width: 10ch;
	 position: relative;
	 display: inline-block;
 	 justify-content: center;
	 align-items: center;
	 height: 3ch;
	 position: absolute;
	 top:0;
	 background: var(--tab-bg) ;
	 border-radius: var(--radus-c);
	 transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);

}

 .tab input#one:checked ~ .tab__indicator { 
	 transform: translate3d(-5ch, 0, 0);

}

 .tab input#two:checked ~ .tab__indicator {
	 transform: translate3d(5ch, 0, 0);

}

 .tab-2 input#first:checked ~ .tab__indicator { 
	 transform: translate3d(-5ch, 0, 0);

}

 .tab-2 input#second:checked ~ .tab__indicator {
	 transform: translate3d(5ch, 0, 0);

}


 .tab input[type="radio"]:not(:checked), 
 .tab input[type="radio"]:checked {
	 display: none;

}

/*Tab*/

/*checkmark*/

.check {
  display: block;
  position: relative;
  padding-left: 3ch;
  margin-bottom: 1ch;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}


.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid var(--main-border);
  background: var(--indent-bg);
  border-radius: 3px;

}


.check input:checked ~ .checkmark {
  background: var(--primary);

}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}


.check input:checked ~ .checkmark:after {
  display: block;

}

.check .checkmark:after {

    box-sizing: border-box;
    position: absolute;
    left: 2px;
    top: -2px;
    width: 5px;
    height: 10px;
    border-color: currentColor;
    border-width: 0 1.8px 1.8px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg);

}

/*checkmark*/

.qr{
	margin-left: calc(50% - 80px);
	margin-top: 2ch;

}

[data-tooltip] {
	--tooltip-background:var(--cssui-gray-darkest);
	--tooltip-padding:4px 6px;
	--tooltip-text-color:var(--cssui-gray-light);
	--tooltip-fontsize:.75rem;position:relative
}


[data-tooltip]:after,
[data-tooltip]:before {
	opacity:0;
	transition:opacity .3s ease
}

[data-tooltip]:after {
	background-color:black;
	border-radius:var(--radiu-a);
	bottom:calc(-100% + 2px);
	color:white;
	content:attr(title);
	display:inline-block;
	font-size:70%;
	left:50%;
	padding:var(--default-padding);
	position:absolute;
	transform:translateX(-50%);
	white-space:nowrap;
	width:auto;
	box-shadow: var(--small-shadow);


}

[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before{
	opacity:1
}



.copy{

	border: 1px solid oklch(1 0 0 /0.0);
	border-radius: var(--radiu-a);
	padding: var(--default-padding );
	line-height: 2ch;


}

.copy:focus,
.copy:hover{
	border: 1px solid oklch(1 0 0 /0.2);
	border-radius: var(--radiu-a);
}

.redo {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-right-color: transparent;
    border-radius: 100px;

}
.redo::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -3px;
    right: -1px;
    transform: rotate(68deg)
}

.redo_container{
	border: 1px solid oklch(1 0 0 /0.0);
	font-size: var(--big-font);
	border-radius: var(--radiu-a);
	padding: var(--default-padding );
	bottom: 2ch	;
	position: absolute;
	right: 0ch;
	line-height: 2ch;

}

.redo_container:focus,
.redo_container:hover{
	border: 1px solid oklch(1 0 0 /0.2);


}

}